{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    | Certification - delete
{% endblock %}

{% block content %}

<div class="container">
        {% if user.is_authenticated %}
    
            {% include '_checkboxes.html' %}

            {% else %}
        <p></p>
        {% endif %}
</div>

    <p>Are you sure you want to delete the certification titled <strong>{{certification.certification}}</strong> ?</p>
    
    <form method="POST">
        {% csrf_token %}
        <input type="submit" value="Yes" class="btn btn-danger">
        <a href="{% url 'project:list'%}" class="btn btn-dark">No</a> 

    </form>


{% endblock %}