{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
    | Experience
{% endblock %}

{% block content %}

    <div class="container">
        {% if user.is_authenticated %}
            {% include '_checkboxes.html' %}
        {% else %}
        {% endif %}
    
    </div>

    <div class="container">
        
        <h2>Tips for your <strong class="text-uppercase">Experience Section</strong></h2>
        <ul class="list-group list-group-flush">
                    
            <li class="list-group-item"><span class="bullets glyphicon glyphicon-tag"></span> &nbsp;&nbsp;Your most recent or current job should be listed first. Then, work in reverse chronological order, from your newest to your oldest jobs.</li>
            <li class="list-group-item"><span class="bullets glyphicon glyphicon-tag"></span> &nbsp;&nbsp;Use bullet points to list your job responsibilities in short, direct sentences.</li>
            <li class="list-group-item"><span class="bullets glyphicon glyphicon-tag"></span> &nbsp;&nbsp;When describing your job duties, avoid using personal pronouns like “I, ” “me”, "my" etc.</li>
        </ul>
         <a href="{% url 'personal_info:address'%}" class="cancel btn ">BACK</a> 
        <a href="{% url 'experience:create' %}" class="save btn btn-success">SAVE & NEXT</a>
        
    </div>

    
{% endblock%}
