<!-- <!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/master/master.css' %}">
    </head>
    <body> -->
        <div class="checkbox ">
                <label class="checkbox-inline"><input type="checkbox" checked="checked" value="" id="pi" >Personal Info &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="ex" disabled>Experience &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="ed" disabled>Education &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="sk" disabled>Skills &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="pr" disabled>Projects & Certifications &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="su" disabled>Summary &nbsp;</label>
                <label class="checkbox-inline"><input type="checkbox" value="" id="re" disabled>Review & Download &nbsp;</label>

        </div>  

        <hr>
    <!-- </body> 
</html> -->